* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
}


body {
	font-family: 'Open Sans', serif;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	font-size: 16px;
	background-color: #ecf0f1;

	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


p {
	margin-bottom: 1.3em;
	max-width: 40em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a {
	color: red;
}
a:hover {
	text-decoration: none;
	color: white;
}

/* Layout */
.container {
	max-width: 1000px; /* max-width will scale to the browser, while just `width` will always be the value */
	margin-left: auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
	margin-right: auto;
}
@media (max-width: 1050px){
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
}
.site-header {
	padding: 2em 0;
}
.hero-img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	 /* max-width will scale to the browser or container */
}
.site-title { 
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
	margin-left: 2.5%;
}



.site-footer {
	margin-top: 3em;
	background: #444;
	background: rgba(0,0,0,.5);
	color: white;
	padding: 2em 0;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}












/* Navigation */
.navbar {
	width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background: #444; 
    background: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.header-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
@media (min-width: 630px){
.header-nav li {
	padding-right: 25px;
}
}
@media (min-width: 630px){
	.header-nav li {
		display: inline-block;
	}
	.navbar {
		float: right;
	}
	.site-title {
		float: left;
	}
	.nav-link {
		border-radius: .2em;
	}
}
.nav-link {
	padding: 0.6em 1em;
	text-decoration: none;
	color: white;
	margin: 0 0.25em;
	text-align: center;
	display: block;

}
.nav-link:hover {
	background: #2b409a;
}



@media(max-width:629px) {
    .navbar {
        margin: 0 auto;
        background: rgba(0,0,0,0.5);
        -webkit-box-shadow: none;
        box-shadow: none;
     }

    .header-nav {
        border-radius:3px;
        background: rgba(0,0,0,0.5);
        text-align:center;
        width:100%;
    }

    .nav-link {
        padding-left:0;
    }
}



.portfolio{
		text-align: center;
}







/* Columns */


@media (min-width: 630px){
	.content-columns {
		text-align: center;
	}
	.col {
		float: left;
		width: 33.33%;
	}
	.colbio{
		float: right;
		width:35%;
}
	
}


/* Utilities */

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
.bio{
	background-color: #263033;
	color: white;


}
.featured{
	background-color: #263033;
	color: white;
}
.social{
	background-color: #263033;
	color: white;
}

