* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
}

/* Layout */
.container {
	max-width: 1000px; /* max-width will scale to the browser, while just `width` will always be the value */
	margin-left: auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
	margin-right: auto;
}
.hero-img {
	max-width: 100%; /* max-width will scale to the browser or container */
}
.site-title { 
	float: left;
}

.navbar {
	float: left;
}

/* Navigation */
.header-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-nav li {
	display: inline-block;
}

/* Columns */

.col {
	float: left;
	width: 33.33%;
	border: 1px solid #ddd;
}


/* Utilities */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}